
fieldset,.userbooksfilter
{
  padding: 20px;
  height:fit-content;
  box-shadow: 0px 0px 0px 0px transparent;
  border:.5px solid rgb(231, 230, 230);
  margin-top: 66px;
  margin-bottom: 10px;
  
}
.userbooksfilter
{
  height:25rem;
  margin-top: 100px;
  
}
.search
{
border-radius: 20.5px;
}
/* .AddCategory
{
 display: flex;
 flex-direction: column;
 align-items: center;
  width:fit-content;
 padding: 20px;
  height:fit-content;
  box-shadow: 0px 0px 0px 0px transparent;
  border:3px solid rgb(231, 230, 230);
  margin-top: 100px;

} */
.filter_link:hover
{
  cursor: pointer;
 }
.Navbar
{
  margin-bottom: 500px;
}
.legend
{
  max-width: fit-content;
  border:1px solid rgb(231, 230, 230);
  display: flex;
 align-items: center;
 padding: 2px;
 border-radius: 5px;
}
.table_bookImg
{
width: 17%;
height: 7%;
}