fieldset, .userbooksfilter {
  padding: 20px;
  height: fit-content;
  box-shadow: 0px 0px 0px 0px transparent;
  border: .5px solid rgb(231, 230, 230);
  margin-top: 90px;
  margin-bottom: 10px;
}

.userbooksfilter {
  height: 29.3rem;
  margin-top: 113px;
}

.nav-tabs {
  margin-top: 5%;
}

.filter_link:hover {
  cursor: pointer;
}

.Navbar {
  margin-bottom: 500px;
  background-color: #1C2541;
  opacity: 0.8;
}

.link-white {
  color: white;
}

.link-white:hover {
  color: #5BC0BE;
  text-decoration: none;
}

.legend {
  max-width: fit-content;
  border: 1px solid rgb(231, 230, 230);
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
}

.table_bookImg {
  height: 5%;
}

.bg-grey {
  background-color: #3A506B;
  opacity: 0.9;
}

.form-border {
  border: 2px solid #3A506B;
  padding: 2rem;
  border-radius: 30px;
}

.login {
  width: 40%;
  margin: 8% auto;
}

.signup {
  width: 50%;
  margin: 6% auto;
}

.login-btn:hover, .button-submit:hover {
  background-color: #5BC0BE;
  border-color: white;
  color: #1C2541;
  text-decoration: none;
}

.login-btn, .button-submit {
  background-color: #5BC0BE;
  border: 1px solid white;
  color: white;
  padding: 0.3rem 4rem;
}

.bg-mint {
  background-color: #5BC0BE;
}

.custom-file {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin: 0;
}